.container {
    margin: 0;
    padding-bottom: 1rem;
}

.layout {
    display: flex;
    flex-direction: column;

}

.layout__image {
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

.layout__list {
    margin: 1rem auto;
    list-style: none;
}

.layout__list_legend {
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 1rem;
}

.layout__sector {
    display: flex;
    align-items: center;
    gap: 1rem;
}


.layout__sector_color {
    width: 32px;
    height: 32px;
}

.layout__sector_name {
    font-size: 20px;
    font-weight: 500;
    padding: 1rem 0;
}

.container__title {
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    padding: 1rem 0.5rem;
    margin: 2rem 0;
}

.container__cards {
    display: flex;
    flex-direction: column;
    margin: 1rem 2rem;
    gap: 2rem;
}



@media screen and (min-width: 768px) {


    .layout__list {
        margin-left: 33%;
    }

    .layout__image {
        max-width: 648px;
        padding: 1rem 2rem;
    }

    
.container__cards {
    margin: 2rem 5rem;
    gap: 3rem;
}
}


@media screen and (min-width: 1440px) {

    .layout {
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .layout__image {
        margin: 0;
    }

    .layout__list {
        margin-left: 0;
        margin-right: 0;
    }


    .container__cards {
        display: flex;
        flex-direction: row;
        gap: 1.5rem;
    }
    
}

