.container {
    margin: 2rem 1.5rem;
    text-align: center;
}

.container img {
    width: 100%;
}

.container h3 {
    font-size: 2rem;
    font-weight: 700;
}

.container p {
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 40px;
}

@media screen and (min-width: 768px) {
    .container {
        margin: 2rem 80px;
    }

    .container h1 {
        font-size: 64px;
    }
  
}


@media screen and (min-width: 1440px) {
    .container {
        display: flex;
        margin: 4rem 80px;
        gap: 3rem;
    }
    
}

