.container {
  margin: 0;
  height: auto;
  padding-bottom: 2rem;
}

.container__title {
  font-family: var(--title-font);
  font-weight: 400;
  text-align: center;
  font-size: 2rem;
  padding: 4rem 2rem 2rem 2rem;
  color: var(--cinza);
}


@media screen and (min-width: 768px) {

   .container__title  {
    max-width: 648px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1440px) {
  .container__title  {
    max-width: 792px;
}
}
