.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1.5rem;
    background: var(--degrade);
    padding-bottom: 2rem;
}

.container__header {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    width: 80%;
}

.container__infos {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.container__infos_text {
    font-family: var(--text-font);
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 40px;
    margin: 0;
}

.container__infos_name {
    font-family: var(--text-font);
    font-size: 2rem;
    font-weight: 700;
    line-height: 40px;
    text-align: center;
}