.container {
  margin: 0 auto;
  height: auto;
  padding-bottom: 3rem;
}


.container__button {
  display: flex;
  width: auto;
  justify-content: space-around;
  margin: 1rem 0;
}

.container__title {
  font-family: var(--title-font);
  font-weight: 400;
  text-align: center;
  font-size: 2rem;
  padding: 0 2rem 1.5rem 2rem;
  color: var(--cinza);
}

@media screen and (min-width: 768px) {

  .container {
      max-width: 648px;
  }

  .container__title  {
      font-size: 3rem;
  }
}

@media screen and (min-width: 1440px) {
  .container {
      max-width: 795px;
  }

  .container__row {
    display: flex;
  }
}

