.container {
    padding: 0 1.5rem;
    padding-bottom: 2rem;
    height: auto;
}

.container__title {
    font-family: var(--title-font);
    font-weight: 400;
    text-align: center;
    font-size: 2rem;
    padding: 2rem 2rem 2rem 2rem;
    color: var(--cinza);
}

@media screen and (min-width: 768px) {

    .container {
        margin: 0 auto;
        max-width: 648px;

    }

    .container__title  {
        font-size: 3rem;
        padding: 3rem 2rem;
    }
}

@media screen and (min-width: 1440px) {
    .container {
        margin: 0 auto;
        max-width: 996px;
    }

}

