.container {
    height: 270px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
}

.container h1 {
    text-align: center;
    font-family: var(--title-font);
    color: var(--cinza);
    font-weight: 400;
    font-size: 2rem;
}